/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2020, 10:19:27 AM
    Author     : Usuario
*/

#izquierda{
        height:50%;
        float:left;
        width:50%;
}
#derecha{
        height:50%;
        float:right;
        width:66%;
}

#izquierda1{
        height:50%;
        float:left;
        width:48%;
}
#derecha1{
        height:50%;
        float:right;
        width:65%;
}